@using System.Globalization
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@using Volo.Abp.Localization
@using Zyknow.Abp.AspnetCore.Components.Server.FluentDesignTheme.Bundling
@using Zyknow.Abp.AspnetCore.Components.Web.FluentDesignTheme
@using Zyknow.Abp.AspnetCore.Components.Web.FluentDesignTheme.Bundling
@inject IHostEnvironment Env
@{
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Simple</title>
    <base href="/"/>
    <AbpStyles BundleName="@BlazorFluentDesignThemeBundles.Styles.Global"/>
    <HeadOutlet @rendermode="@PageRenderMode"/>
</head>
<body class="abp-application-layout @rtl">
<Routes @rendermode="@PageRenderMode"/>
<div id="blazor-error-ui">
    @if (Env.IsDevelopment())
    {
        <text>An unhandled exception has occurred. See browser dev tools for details.</text>
    }
    else if (Env.IsStaging() || Env.IsProduction())
    {
        <text>An error has occurred. This application may no longer respond until reloaded.</text>
    }
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<AbpScripts BundleName="@BlazorFluentDesignThemeBundles.Scripts.Global"/>

<script src="_framework/blazor.web.js"></script>
</body>
</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [Inject] protected IOptions<AbpFluentDesignThemeOptions> ThemeOptions { get; set; }

    private IComponentRenderMode? PageRenderMode =>
        // account/* must be handled by the server
        HttpContext.Request.Path.StartsWithSegments("/Account")
            ? new InteractiveServerRenderMode()
            : (HttpContext.AcceptsInteractiveRouting()
                ? GetDefaultRenderMode()
                : null);

    public IComponentRenderMode GetDefaultRenderMode()
    {
        var renderMode = HttpContext.Request.Cookies.FirstOrDefault(x => x.Key == "RenderMode");
        var prerenderStr = HttpContext.Request.Cookies.FirstOrDefault(x => x.Key == "Prerender");
        var prerender = prerenderStr.Value.IsNullOrEmpty() || bool.TryParse(prerenderStr.Value, out var result) && result;

        if (renderMode.Value == "InteractiveAutoRenderMode")
        {
            return new InteractiveAutoRenderMode(prerender);
        }

        if (renderMode.Value == "InteractiveServerRenderMode")
        {
            return new InteractiveServerRenderMode(prerender);
        }

        if (renderMode.Value == "InteractiveWebAssemblyRenderMode")
        {
            return new InteractiveWebAssemblyRenderMode(prerender);
        }

        // default to InteractiveAutoRenderMode
        return new InteractiveAutoRenderMode(prerender);
    }

}