@page "/setting-management"
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Features
@using Volo.Abp.SettingManagement
@using Zyknow.Abp.AspnetCore.Components.Web.FluentDesignTheme.Layout
@using Microsoft.FluentUI.AspNetCore.Components
@using Zyknow.Abp.GroupComponent.Abstract.FluentDesignUI
@attribute [Authorize]
@attribute [RequiresFeature(SettingManagementFeatures.Enable)]
<CascadingValue Value="this" IsFixed="true">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20" HorizontalAlignment="HorizontalAlignment.Stretch">
        <AbpPageHeader Title="@L["Settings"]" BreadcrumbItems="@BreadcrumbItems"/>
        <FluentDivider></FluentDivider>
        <div class="page-content">
            <FluentStack HorizontalGap="20">
                <FluentListbox TOption="ComponentGroup" Width="300px" OptionText="s => s.DisplayName"
                               @bind-SelectedOption="SelectedComponentGroup"
                               Items="@SettingComponentCreationContext.Groups">
                </FluentListbox>
                @foreach (var group in SettingComponentCreationContext.Groups)
                {
                    @if (SelectedComponentGroup == group)
                    {
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentLabel Weight="FontWeight.Bold" Typo="Typography.H4">@group.DisplayName</FluentLabel>
                            <FluentDivider/>
                            @{
                                SettingItemRenders.Add(b =>
                                {
                                    b.OpenComponent(0, group.ComponentType);
                                    b.CloseComponent();
                                });
                            }
                            @SettingItemRenders.Last()
                        </FluentStack>
                    }
                }
            </FluentStack>
        </div>
    </FluentStack>
</CascadingValue>
