@using global::Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject IStringLocalizer<AbpUiResource> UiLocalizer


<AuthorizeView>
    <Authorized>
        <FluentProfileMenu
            Status="@PresenceStatus.Available"
            HeaderLabel="@GetProfileFullName()"
            Initials="@CurrentUser.UserName?.FirstOrDefault().ToString()"
            FullName="@CurrentUser.UserName"
            HeaderButton="@(L["Logout"])"
            EMail="@CurrentUser.Email"
            OnHeaderButtonClick="BeginSignOut"
            PopoverStyle="min-width: 330px;">
            <FooterTemplate>
                @if (Menu != null)
                {
                    <FluentStack Wrap="true">
                        @foreach (var menuItem in Menu.Items.Where(x => x.DisplayName != L["Logout"]))
                        {
                            <a style="text-decoration: underline;cursor: pointer;color: var(--neutral-foreground-rest)" onclick="@(() => NavigateToAsync(menuItem.Url, menuItem.Target))">
                                @menuItem.DisplayName
                            </a>
                        }
                    </FluentStack>
                }
            </FooterTemplate>
            <EndTemplate>
                <FluentLabel Color="Color.Neutral">
                    @if (CurrentTenant.Name != null)
                    {
                        <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
                    }
                    else
                    {
                        <span>@CurrentUser.UserName</span>
                    }
                </FluentLabel>
            </EndTemplate>
        </FluentProfileMenu>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="@AuthenticationOptions.Value.LoginUrl">@UiLocalizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    string GetProfileFullName()
    {
        @if (CurrentTenant.Name != null)
        {
            return $"{CurrentTenant.Name}\\{CurrentUser.UserName}";
        }
        else
        {
            return $"{CurrentUser.UserName}";
        }
    }
}
